
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 520px;
    height: 728px;
    margin:auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
    font-size: 30px;
}
label {
    display: block;
    text-align: left;
    /* margin-bottom: 2px; */
    font-size: 14px;
    color: #333;
}
input, button {
    width: 360px;
    height: 48px;
    margin: 2px 0 20px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
input {
    background-color: #f9f9f9;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#black {
    background-color: #000;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
#black img {
    margin-right: 10px;
}
#login {
    color: rgb(11, 227, 119);
    cursor: pointer;
  
}
@media (max-width: 375px) {
    .container {
        width: 335px;
        height: auto;
        padding: 20px;
    }
    input, button {
        width: 311px;
    }
}